.header {
  padding: 1rem 0 3rem;
}

.title {
  color: black;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.link {
  color: grey;
  padding-bottom: 0.05rem;
  margin-right: 1.3rem;
  text-decoration: none;
  &:hover {
    color: #1b1b1b;
  }
}

.active-nav-item {
  color: #1b1b1b;
  border-bottom: 1px solid #1b1b1b;
}
